.vscode/tasks.json
main.exe
.cache/clangd/index/hello.c.D061E50FF7613AC9.idx
.cache/clangd/index/hello.h.2925BEF68B9933F2.idx
.cache/clangd/index/main.c.7EBB5C8B17DC0133.idx
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7960b565e90683eb27b4.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3d1f82a9bdeb7363b21e.json
build/.cmake/api/v1/reply/codemodel-v2-c505a8fa3ee98b60634f.json
build/.cmake/api/v1/reply/directory-.-Debug-1db71706af45e50ebda0.json
build/.cmake/api/v1/reply/index-2025-09-03T03-33-26-0848.json
build/.cmake/api/v1/reply/target-main-Debug-bf2b8bf0aeccaa253e11.json
build/.cmake/api/v1/reply/toolchains-v1-8b65144237cf1a5a6a90.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.1.1/CMakeCCompiler.cmake
build/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.1.1/CMakeRCCompiler.cmake
build/CMakeFiles/4.1.1/CMakeSystem.cmake
build/CMakeFiles/4.1.1/CompilerIdC/a.exe
build/CMakeFiles/4.1.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.1.1/CompilerIdCXX/a.exe
build/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/compiler_depend.make
build/CMakeFiles/main.dir/compiler_depend.ts
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/includes_C.rsp
build/CMakeFiles/main.dir/linkLibs.rsp
build/CMakeFiles/main.dir/objects1.rsp
build/CMakeFiles/main.dir/progress.make
